.app {
  font-family: Nunito, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-text-color);
  padding: 24px;

  @media (max-width: 769px) {
    font-size: 14px;
  }
}

.app-container {
  max-width: 1551px;
  width: 100%;
  margin: 0 auto;
}

