.HomePage {
  display: flex;
  align-items: start;
  gap: 24px;

  @media (max-width: 769px) {
    flex-direction: column;
  }
}

.skeleton {
  display: flex;
  align-items: start;
  gap: 24px;

  @media (max-width: 769px) {
    flex-direction: column;
  }
}