.CoursesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  @media (max-width: 769px) {
    gap: 12px;
  }
}

.skeleton {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  .card {
    width: calc(33.33333% - 12px);
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  @media (max-width: 769px) {
    gap: 12px;

    .card {
      width: calc(50% - 6px);
      gap: 6px;
    }
  }
}